body {} /* 빼먹지말기 */
#wrap {}
#wrap #phone {
    width: 1100px;
    background-color: #eee;
    margin:50px auto 0; /* margin */
}
#wrap #phone th,
#wrap #phone td {padding:10px}
#wrap #phone thead{
    border:2px solid #000;
    border-left: 0; border-right: 0;
    }
#wrap #phone thead tr:nth-child(1) {border-bottom: 1px dashed #000;}
#wrap #phone thead tr {}
#wrap #phone thead tr th {}
#wrap #phone thead tr th img {width: 24px;}
#wrap #phone thead tr th span {
    display: block;
    color: #888;
    font-size: 0.75rem;
    padding: 5px;
}
#wrap #phone tbody {}
#wrap #phone tbody tr {
    border-bottom: 1px solid #ccc;
}
#wrap #phone tbody tr th {}
#wrap #phone tbody tr td {
    text-align: center;
    width: 200px;
}