body {}
.wrap {
    width: 402px; height: 100vh;/* h:100vh */
    background-color: #C2EFFF;
    padding:20px 15px;
    margin:0 auto;
    text-align: center;
}
.wrap h2, .wrap h3 {}/* 그룹선택자(,)기준으로 뒤 선택자 reset, 부모부터 다시쓰기 */
.wrap h2 {
    font-size: 1.50rem;
    font-weight: 700;
    margin-bottom: 30px;/* 형제-형제 margin */
}
/* 인접형제선택자를 이용한 p선택방법 + 그룹(,) */
.wrap h2+p,.wrap h3+p {}
.wrap h2+p em{}
/* 수열선택자를 이용한 p선택방법 + 그룹(,) */
.wrap p:nth-child(2),.wrap p:nth-child(5) {font-size: 0.75rem; margin-bottom: 15px;}
.wrap p:nth-child(2) em {color: #F93E3E;}
.wrap p {}
.wrap p em {}
.wrap #content { 
    margin:0 0 30px;/* 형제-형제 margin */
}
.wrap #content span {
    background-color: #F6FF00;
}
.wrap h3 {
    font-size: 1.50rem;
    font-weight: 700;
    margin-bottom: 30px;/* 형제-형제 margin */
}
.wrap h3+p {}
.wrap p:nth-child(5) {}
.wrap .details {}
.wrap .details em {}