body {}
#papago {
    margin:0 auto; 
    /* 가로크기가 화면보다 작은 블록레이아웃을 가운데로 배치할때 */
    /* 좌우가 auto값인 이유 : pc~mobile까지 사용자가 접속한 기기에 따라 좌우여백이 다르기 때문에 자동값사용 */
    background-color: #EF6D6D;
    width: 402px; height: 100vh;
    padding: 20px 15px; 
    text-align: center;
    /* text-align 적용하는 정렬대상은 inline특징이 있어야함 */
    /* text-align : #papago를 가운데로보내는게아니라 #papago의 자식, 자손을 가운데정렬하는것 */
}
/* 정렬(text-align / margin:0 auto),패딩-부모 간격(margin)-형제 */
#papago > * {margin-bottom: 30px;}
/* #papago > *:nth-child(odd) {background-color: aquamarine;} */
#papago nav {
    display:blcok;/* 내용(자식)만큼 크기인식 */
    text-align: left;
}
#papago nav a {
    display:block;/* 부모 너비 100% 자동(기본값) */
    width:200px;/* 크기px 고정 시 위 기본100%값은 사라짐 */
    margin-bottom: 15px;/* 모든a 적용여백 */
}
#papago nav a:nth-child(3) {margin-bottom: 0;}
#papago nav a:nth-child(even) {background-color: brown;}
#papago main {
    padding: 10px 0;
    display:inline-blcok; 
    width: 58px;
    margin:30px auto;
}
#papago main > * {margin-bottom: 20px;}
#papago main > *:nth-child(odd) {background-color: chocolate;}
#papago main h1 {}
#papago main h1 a {}
#papago main > a {display: block;}
#papago main > a:nth-child(4) {margin-bottom: 0;}
#papago > a {
    margin-block-start: 0;
    padding: 20px 30px;
    background-color: #fff;
    border-radius: 30px; /* 모서리반경 */
    display: inline-block;
}