body {}
#news {
    width: 430px; height: 932px;
    padding: 15px 30px;
    background-color: #DACEFF;
}
/* >a, .box, >p */
#news > * {padding-bottom: 25px;}
#news > a {
    display: block;
    font-size: 1.25rem;
    font-weight: 600;
} /* 중복태그있을때 > 사용 */
#news .box {}
#news .box a {}
/* #news .box a * {} a의 모든 자식 */
#news .box a h2 {padding-bottom: 25px;
    font-size: 1.88rem;
    font-weight: 300;
    display: inline;
}
#news .box a p {
    font-size: 0.88rem;
    display: inline;}
#news > p {}
#news > p span {}